{% extends "base.html" %}

{% block title %}
Create Disaster
{% endblock %}

{% block content %}

<div class="container mt-5">


<div class="card shadow p-4">

    <h2 class="mb-4">
        Create Disaster
    </h2>

    <form method="POST">

        <div class="mb-3">

            <label class="form-label">
                Disaster Title
            </label>

            <input
                type="text"
                name="title"
                class="form-control"
                required>

        </div>

        <div class="mb-3">

            <label class="form-label">
                Disaster Type
            </label>

            <input
                type="text"
                name="disaster_type"
                class="form-control"
                placeholder="Flood / Earthquake / Fire"
                required>

        </div>

        <div class="mb-3">

            <label class="form-label">
                Location
            </label>

            <input
                type="text"
                name="location"
                class="form-control"
                required>

        </div>

        <div class="mb-3">

            <label class="form-label">
                Description
            </label>

            <textarea
                name="description"
                class="form-control"
                rows="4"
                required></textarea>

        </div>

        <button
            type="submit"
            class="btn btn-danger">

            Create Disaster

        </button>

    </form>

</div>


</div>

{% endblock %}
